name: Tests

on:
  push:
  pull_request:
    types: [opened]
jobs:
    run-tests:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Install Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.10"

          - name: Create virtual environment
            run: python -m venv venv

          - name: Upgrade pip in virtual environment
            run: |
              source venv/bin/activate
              pip install --upgrade pip

          - name: Install dependencies
            run: |
              source venv/bin/activate
              pip install -e .

          - name: Run Unit Tests
            run: |
              source venv/bin/activate
              sudo python -m unittest

    test-build-pypi:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Install Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.10"

          - name: Install Twine and Build
            run: sudo pip install twine build

          - name: Create the distribution
            run: |
              git fetch --prune --unshallow --tags
              sudo python -m build
